.theme-dark {
  color: #fcfcfc;
  background-color: #1d1c1c;
}

.theme-light {
  color: #000;
  background-color: #fcfcfc;
}

.button-light {
  color: #000;
}

.button-dark {
  background-color: #fddb41;
  color: #fff;
}
